apiVersion: argoproject.io/v1alpha1
kind: Application
metadata:
  name: echo-server-argo-application
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:whsv26/echo-server-config.git
    targetRevision: HEAD
    path: dev # track only dev folder in repo
  destination:
    server: https://kubernetes.default.svc # k8s API server # internal dns name
    namespace: playground
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true # override manual changes
      prune: true